.movies {
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.movie-item img {
    width: 100%;
    height: auto;
}